@using Task_Day_2_ASP.Models.Entities
@using Task_Day_2_ASP.Models.ViewModel
@using Task_Day_2_ASP.Models.ViewModel

@model DepartmentWithDetails

@{
	ViewData["Title"] = "Edit";
}

<h1>Add</h1>

<form method="post" asp-controller="Department" asp-action="SaveEdit">
	<div>
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form-control" />
	</div>
	<div>
		<label asp-for="MrgName"></label>
		<input asp-for="MrgName" class="form-control" />
	</div>

	<div>
		<label asp-for="Id"></label>
		<select asp-for="Id" asp-items="ViewBag.StdList" class="form-control">
			<option value="0">-- Select Department --</option>
			@* @foreach (var item in ViewBag.DeptList)
			{
				@if (Model?.DepartmentId == item.Id)
				{
					<option value="@item.Id" selected>@item.Name</option>
				}
				else
				{
					<option value="@item.Id">@item.Name</option>
				}
			} *@
		</select>
	</div>
	<input type="submit" value="create" class="btn btn-primary mt-3" />
</form>

<a asp-action="Index">Back</a>


