@using Task_Day_2_ASP.Models.ViewModel
@model CourseViewModel
@{
    ViewData["Title"] = "Add Course";
}

<h1>Add Course</h1>

<form method="post" asp-controller="Course" asp-action="SaveAdd">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Degree"></label>
        <input asp-for="Degree" class="form-control" />
        <span asp-validation-for="Degree" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="MinDegree"></label>
        <input asp-for="MinDegree" class="form-control" />
        <span asp-validation-for="MinDegree" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DepartmentId"></label>
        <select asp-for="DepartmentId" asp-items="ViewBag.DeptList" class="form-control">
            <option value="">-- Select Department --</option>
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>

    <input type="submit" value="Create" class="btn btn-primary mt-3" />
</form>

<a asp-action="Index">Back</a>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
